@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  --background: #020617;

  /* --foreground: #171717; */
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-on-tertiary-fixed: #131b2e;
  --color-on-surface: #d4e4fa;
  --color-error: #ffb4ab;
  --color-inverse-on-surface: #233143;
  --color-outline-variant: #424754;
  --color-on-error-container: #ffdad6;
  --color-on-error: #690005;
  --color-surface-container-highest: #273647;
  --color-on-secondary-fixed: #111c2d;
  --color-inverse-surface: #d4e4fa;
  --color-tertiary-fixed: #dae2fd;
  --color-inverse-primary: #005ac2;
  --color-secondary-fixed-dim: #bcc7de;
  --color-primary-fixed: #d8e2ff;
  --color-surface-container-low: #0d1c2d;
  --color-on-secondary-container: #aeb9d0;
  --color-on-primary-container: #00285d;
  --color-surface-tint: #adc6ff;
  --color-surface-dim: #051424;
  --color-surface: #051424;
  --color-secondary-fixed: #d8e3fb;
  --color-primary-container: #4d8eff;
  --color-on-secondary: #263143;
  --color-on-primary-fixed: #001a42;
  --color-secondary-container: #3e495d;
  --color-on-tertiary: #283044;
  --color-on-tertiary-container: #22293d;
  --color-error-container: #93000a;
  --color-on-surface-variant: #c2c6d6;
  --color-surface-container-lowest: #010f1f;
  --color-surface-bright: #2c3a4c;
  --color-surface-container-high: #1c2b3c;
  --color-on-primary-fixed-variant: #004395;
  --color-tertiary-container: #8990a8;
  --color-on-secondary-fixed-variant: #3c475a;
  --color-primary-fixed-dim: #adc6ff;
  --color-tertiary-fixed-dim: #bec6e0;
  --color-primary: #adc6ff;
  --color-on-background: #d4e4fa;
  --color-surface-variant: #273647;
  --color-surface-container: #122131;
  --color-on-primary: #002e6a;
  --color-background: #051424;
  --color-secondary: #bcc7de;
  --color-tertiary: #bec6e0;
  --color-on-tertiary-fixed-variant: #3f465c;
  --color-outline: #8c909f;
  --radius: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
  --spacing-unit: 4px;
  --spacing-gutter: 16px;
  --spacing-stack-sm: 8px;
  --spacing-container-padding: 24px;
  --spacing-stack-md: 16px;
  --font-headline-md: Inter;
  --font-display-lg: Inter;
  --font-data-mono: Inter;
  --font-body-base: Inter;
  --font-label-sm: Inter;
  --text-headline-md: 20px;
  --text-headline-md--line-height: 28px;
  --text-headline-md--letter-spacing: -0.01em;
  --text-headline-md--font-weight: 600;
  --text-display-lg: 30px;
  --text-display-lg--line-height: 36px;
  --text-display-lg--letter-spacing: -0.02em;
  --text-display-lg--font-weight: 600;
  --text-data-mono: 13px;
  --text-data-mono--line-height: 16px;
  --text-data-mono--letter-spacing: 0.02em;
  --text-data-mono--font-weight: 500;
  --text-body-base: 14px;
  --text-body-base--line-height: 20px;
  --text-body-base--letter-spacing: 0em;
  --text-body-base--font-weight: 400;
  --text-label-sm: 12px;
  --text-label-sm--line-height: 16px;
  --text-label-sm--letter-spacing: 0.05em;
  --text-label-sm--font-weight: 600;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  /* color: var(--foreground); */
}

@layer utilities {
  .scrollbar-custom {
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-track {
      background: #010f1f;
    }
    &::-webkit-scrollbar-thumb {
      background: #273647;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #3e495d;
    }
  }
}
